====================================================

* Shape before removing duplicates: (3317, 2)
* Shape after removing duplicates: (2098, 2)

====================================================


* Shape before removing non-food tags: (2098, 2)
* Shape after removing non-food tags: (1856, 2)

====================================================



* Shape before removing fine-dining from Zomato: (1856, 2)
* Shape after removing fine-dining from Zomato: (1833, 3)

====================================================


* Shape before removing fine-dining from Snoonu: (1833, 2)
* Shape after removing fine-dining from Snoonu: (1820, 3)

====================================================

In [2]:
import pandas as pd

talabat_food = pd.read_csv("../data/processed/talabat_food.csv")
mybookqatar = pd.read_csv("../data/raw/mybookqatar.csv")
zomato = pd.read_csv("../data/processed/zomato_fine_dining.csv")
snoonu = pd.read_csv("../data/processed/snoonu_fine_dining.csv")

In [3]:
# Make all the names lowercase in all the dataframes
talabat_food["Name"] = talabat_food["Name"].str.lower()
mybookqatar["Name"] = mybookqatar["Name"].str.lower()
zomato["Name"] = zomato["Name"].str.lower()
snoonu["Name"] = snoonu["Name"].str.lower()

In [4]:
# Change the name of the first column to "Talabat Restaurant Number" for consistency
talabat_food.rename(columns={talabat_food.columns[0]: "Talabat Restaurant Number"}, inplace=True)

In [5]:
print("talabat_food:", talabat_food.shape, "mybookqatar:", mybookqatar.shape, "zomato:", zomato.shape, "snoonu:", snoonu.shape)

talabat_food: (1856, 3) mybookqatar: (248, 1) zomato: (70, 1) snoonu: (64, 2)

The restaurant names on Talabat and Zomato are often written differently. For example, Al Baharat vs. Baharat.
We have went through the list of Zomato restaurants manually and look if they are in Talabat.

In [6]:
talabat_zomato_fine_dining = [208, 918, 1627, 1507, 788, 1291, 2261, 1697, 2632, 1412, 2941, 734, 1318, 1590, 1238, 1305, 161, 641, 379, 439, 245, 820, 3031]
# Remove the restaurants that are in the talabat_zomato_fine_dining list from the talabat_food dataframe 
talabat_food = talabat_food[~talabat_food["Talabat Restaurant Number"].isin(talabat_zomato_fine_dining)]
talabat_food.shape

(1833, 3)

In [7]:
# From talabat_food, drop restaurants that are in snoonu
talabat_food = talabat_food[~talabat_food["Name"].isin(snoonu["Name"])]
talabat_food.shape

(1820, 3)

In [8]:
talabat_food.to_csv("../data/processed/no_fine_dining.csv")
talabat_food.to_excel("../data/processed/no_fine_dining.xlsx")